.app {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 4rem 1fr;
    grid-template-columns: minmax(30rem, 55vh) 1fr;
    grid-auto-flow: column;

    &__left-menu {
        background-color: #1f8dd6;
    }

    &__left {
        background-color: #1f8dd6;
        overflow-y: scroll;
        color: #fff;
    }

    &__scroll {
        grid-row-start: 1;
        grid-row-end: -1;
        display: grid;
        grid-template-rows: 4rem 1fr;
        grid-auto-columns: minmax(20rem, 1fr);
        grid-auto-flow: column;
        overflow-x: scroll;
        background-color: #1f8dd6;
        column-gap: 0.3rem;
    }

    &__right-menu {
        color: #fff;
        background-color: #1f8dd6;
        padding: 0.3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.5rem;
    }

    &__right {
        background-color: #fff;
        overflow-y: scroll;
    }
}