.app {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 4rem 1fr;
    grid-template-columns: 55vh 1fr;

    &__left-menu {
        background-color: #2C7B8C;
    }

    &__right-menu {
        background-color: #fff;
    }

    &__left {
        background-color: #2C7B8C;
        overflow-y: scroll;
        color: #fff;
    }

    &__right {
        background-color: #fff;
        overflow-x: scroll;
    }
}