.common-data {
    width: 100%;
    padding: 0.3rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: max-content;
    grid-auto-flow: row;
    row-gap: 0.3rem;

    & h2 {
        border-color: #fff;
    }

    &__name {
        display: grid;
        grid-template-rows: max-content max-content;
        grid-template-columns: 2fr 1fr;
        grid-auto-flow: column;
        row-gap: 0.2rem;
        column-gap: 0.3rem;
    }

    &__list {
        display: grid;
        grid-template-rows: max-content max-content;
        grid-auto-columns: 1fr;
        grid-auto-flow: column;
        row-gap: 0.2rem;
        column-gap: 0.3rem;

        &>input {
            min-width: 0;
        }
    }

    &__status-grid {
        width: 100%;
        display: grid;
        grid-template-columns: max-content 1fr 1fr 1fr 1fr 1fr 1fr;
        align-items: center;
        row-gap: 0.2rem;
        column-gap: 0.3rem;

        &>input {
            min-width: 0;

            &[type="checkbox"] {
                justify-self: center;
            }
        }
    }

    &__skill-grid {
        width: 100%;
        display: grid;
        grid-template-columns: max-content 1fr max-content 1fr 1fr;
        align-items: center;
        row-gap: 0.3rem;
        column-gap: 0.2rem;

        &>input {
            min-width: 0;

            &[type="checkbox"] {
                justify-self: center;
            }
        }
    }
}