.growth {
    &__heading {
        display: grid;
        grid-template-columns: max-content 6em 1fr max-content;
        column-gap: 0.2rem;

        &>input {
            min-width: 0;
        }

        &--acquisition {
            &>input {
                background-color: #5eb95e;
                color: #fff;
            }
        }

        &--consumption {
            &>input {
                background-color: #8058a5;
                color: #fff;
            }
        }
    }

    &__remove-button {
        color: #fff;
        background: rgb(202, 60, 60);
        padding: .3em .6em;
        line-height: 1;
    }
}