.icon {
    width: 1.3em;
    height: 1.3em;
    display: inline-block;
    align-self: center;

    &--arrow-right {
        background-image: url("../assets/arrow-right.svg");
    }

    &--arrow-bottom {
        background-image: url("../assets/arrow-bottom.svg");
    }
}