@import "app";
@import "common-data";
@import "experience";
@import "growth";
@import "item";
@import "key-value";
@import "select";

* {
    overflow: hidden;
    box-sizing: border-box;
    line-height: 1.5;
}

h2 {
    font-size: 1.5em;
    margin-top: 1em;
    border-bottom: 0.2rem solid #000;
    margin-bottom: 0.3em;
}

h3 {
    font-size: 1.25em;
    margin-top: 0.75em;
    border-bottom: 0.2rem solid #000;
    margin-bottom: 0.3em;
}

h4 {
    font-size: 1em;
    margin-top: 0.75em;
    border-bottom: 0.2rem solid #000;
    margin-bottom: 0.3em;
}

textarea {
    resize: vertical;
}